ipykernel
librosa
pandas
matplotlib
seaborn
resampy
simplejson
scipy
numpy
hmmlearn
eyeD3
pydub
scikit_learn
tqdm
plotly
pandas
imblearn
pyAudioAnalysis
tensorflow==2.13.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow-macos==2.13.0; sys_platform == 'darwin' and platform_machine == 'arm64'